[mysqld]
# Esto dice que lo que viene ahora son reglas para el servidor de MariaDB
bind-address = 0.0.0.0
# Permitir conexiones desde otros contenedores Docker.
# bind-address le dice a MariaDB: ¿Desde dónde acepto conexiones?
# Por eso debe ser 0.0.0.0, eso significa “Todos los contenedores de la red Docker pueden entrar”,
# y no puede ser 127.0.0.1 dado que eso significa que el contenedor se escucha a si mismo

# Soporte completo UTF-8 para WordPress
character-set-server = utf8mb4  # soporta emojis y caracteres especiales
# utf8mb4 es la codificación que permite guardar todo tipo de caracteres (incluidos emojis),
# y character-set-server indica que MariaDB debe usar esa codificación por defecto.
collation-server = utf8mb4_general_ci
# collation-server es una regla por defecto que usará MariaDB para comparar textos.
# utf8mb4 significa que estas reglas se aplican a textos codificados en utf8mb4
# general dice que usa reglas generales y simples para comparar textos
# ci hace que no distingue entre mayusculas y minusculas


# Ajustes InnoDB recomendados
innodb_buffer_pool_size = 128M
# buffer_pool_size: memoria para la base de datos
innodb_file_per_table = 1
# file_per_table: cada tabla en su propio archivo

# Limite de conexiones concurrentes
max_connections = 100
# Evita que el servidor se sature
# WordPress no necesita más
