[mysqld]
# Permitir conexiones desde otros contenedores Docker
bind-address = 0.0.0.0

# Soporte completo UTF-8 para WordPress
character-set-server = utf8mb4  # soporta emojis y caracteres especiales
collation-server = utf8mb4_general_ci

# Ajustes InnoDB recomendados
innodb_buffer_pool_size = 128M
innodb_file_per_table = 1

# Limite de conexiones concurrentes
max_connections = 100
